{% extends 'base.html' %}
{% block content %}

<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="static/images/shaxa.jpg">
        <div class='media-body'>
            <h2 class='account_heading'>Shaxzod To`lisov&nbsp;<svg style="color:hsl(44, 78%, 43%);" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
            </svg> &nbsp;</h2>
            <p class='text-secondary'><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp; shaxzod@gmail.com</p>
            <b>Aforizm: Agar o‘zingiz sinab ko‘rmasangiz, imkoniyat borligini qayerdan bilasiz</b><br>
            
            
        </div>
    </div>


    
        <fieldset class='form-group'>
            <legend class="border-bottom mb-4">O`rganayotgan texnologiyalarim</legend>
            <p>Corporis quia assumenda reprehenderit debitis numquam perferendis! Quae illum quam assumenda vitae reprehenderit atque accusantium doloribus mollitia illo dolor repellendus nihil dolorum eligendi non alias porro ad unde tempora amet, ipsam error. Voluptate, minima inventore. Illo modi, facilis ad aspernatur ipsam quo officiis ullam cum, quaerat dolor reprehenderit atque voluptas, culpa harum ex vel officia asperiores! Cumque fuga cupiditate iure expedita laudantium mollitia, iusto asperiores, animi eligendi eius facere provident officia dolore id exercitationem beatae?</p>

        <ul class="list-group">
            <li class="list-group-item">Python-&nbsp;&nbsp; <span class="badge badge-pill badge-danger">70%</span></li>
            <li class="list-group-item">Telegram Bot -&nbsp;&nbsp;<span class="badge badge-pill badge-danger">60%</span></li>
            <li class="list-group-item">Flask- &nbsp;&nbsp;<span class="badge badge-pill badge-danger">50%</span></li>
            <li class="list-group-item">HTML-&nbsp;&nbsp; <span class="badge badge-pill badge-danger">50%</span></li>
            <li class="list-group-item">CSS- &nbsp;&nbsp;<span class="badge badge-pill badge-danger">50%</span></li>
            <!-- <li class="list-group-item">Tkinter-&nbsp;&nbsp; <span class="badge badge-pill badge-danger">50%</span></li> -->
        </ul>

        </fieldset>
       

</div>

{% endblock %}