{% extends 'base.html' %}
{% block content %}
{% for i in url.items %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a href='#'>Python-Flask</a>
            <small class="text-muted">{{ i.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <iframe width="640" height="315" src="{{ i.url }}" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <br>
        <p>{{ i.title }}</p>
    </div>
</article>
{% endfor %}
{% for page_num in url.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}

    {% if page_num %}
        {% if url.page==page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('learn',page=page_num) }}">{{ page_num }}</a>
        {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('learn',page=page_num) }}">{{ page_num }}</a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
{% endfor %}
{% endblock %}